@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --soft-black: #1c1c1c;
  --warm-beige: #f5e8d8;
  --muted-red: #e41816;
  --golden-yellow: #daa520;
  --error-color: rgb(211, 69, 69);
  --success-color: rgb(66, 158, 66);
  --light-transparent: rgba(255, 255, 255, 0.1);
  --dark-transparent: rgba(0, 0, 0, 0.35);
  --main-radius: 8px;
  --navbar-height: 60px;
  --page-height: calc(100vh - var(--navbar-height));
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: var(--soft-black);
  font-family: 'Montserrat', sans-serif;
}

a,
button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--warm-beige);
}
