@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --soft-black: #1c1c1c;
  --warm-beige: #f5e8d8;
  --muted-coral: #ff6f61;
  --golden-yellow: #daa520;
  --burnt-orange: #ff4500;
  --light-transparent: rgba(255, 255, 255, 0.1);
  --main-radius: 8px;
  --navbar-height: 60px;
  --page-height: calc(100vh - var(--navbar-height));
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

body {
  background-color: var(--soft-black);
  font-family: 'Montserrat', sans-serif;
}

a,
button {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
